# Compiled source 
*.exe
.vscode
*.bin
PS/solving/
Algorithm.code-workspace

# Build directories
build/

# Object files
*.o

# macOS debug symbol bundles
*.dSYM/
.DS_Store

# Common local debug binaries
debug
outDebug
Hello_World